:root {
  --primary-text-color: #212121;
  ---accent-color: #2196f3;
}

body {
  font-family: Roboto, serif;
  color: var(--primary-text-color);
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}
button {
  cursor: pointer;
}

.link:hover,
.link:focus,
.buttons:hover,
.buttons:focus,
.nav-link:focus,
.nav-link:hover {
  color: var(---accent-color);
  cursor: pointer;
  outline: none;
}

.button-main:focus,
.button-main:hover {
  cursor: pointer;
  outline: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.link:hover .link-icon,
.link:focus .link-icon {
  fill: var(---accent-color);
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navigation {
  display: flex;
  align-items: center;
}

.nav-menu-item:not(:last-child) {
  margin-right: 50px;
}
.nav-link {
  margin-right: 93px;
  font-family: Raleway;
  font-size: 26px;
  text-decoration: none;
  color: var(--primary-text-color);
  line-height: 1.17;
  font-size: 26px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-menu {
  display: flex;
}

.nav-menu a {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  text-decoration: none;
  color: var(--primary-text-color);
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.03em;
  font-size: 14px;
}

.active::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(---accent-color);
}

.nav-menu a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(---accent-color);
  border-radius: 2px;
  opacity: 0;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-menu a:hover::after {
  opacity: 1;
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-icon {
  margin-right: 10px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-item {
  display: flex;
  justify-content: center;
  text-align: center;
}

.contacts {
  display: flex;
  margin-left: auto;
}

.contacts-item:not(:last-child) {
  margin-right: 50px;
}
.contacts-item a {
  text-decoration: none;
  color: #757575;
  line-height: 1.17;
  font-weight: 500;
  letter-spacing: 0.02em;
}

.contacts-icon {
  display: flex;
  align-items: center;
}

.button-main {
  padding: 10px 32px;
  min-width: 200px;
  text-align: center;
  background-color: var(---accent-color);
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0.06em;
  font-weight: 700;
  line-height: 1.87;
  font-family: Roboto;
  border-radius: 4px;
  outline: none;
}

.hero {
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../img/bcgr/bcimg.jpg);
  background-repeat: no-repeat;

  background-position: center;
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;

  padding: 200px 0;
  flex-direction: column;
  align-items: center;
  background-color: #2f303a;
  text-align: center;
}
.hero-title {
  margin-bottom: 30px;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 44px;
  color: #ffffff;

  line-height: 1.36;
  letter-spacing: 0.06em;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}

.modal {
  padding: 40px;
  width: 528px;
  height: 581px;
  background-color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 8px;
  right: 8px;
  border: none;
  outline: none;
  border-radius: 50%;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close:hover {
  fill: var(---accent-color);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.form {
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.01em;
  line-height: 1.16;
  color: #757575;
}

.form-field {
  margin-bottom: 10px;
  position: relative;
}

.form-text {
  color: #212121;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.03em;
  line-height: 1.15;
  margin-bottom: 12px;
}

.form-input {
  display: block;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  width: 100%;
  height: 40px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus,
.form-input:hover {
  border-color: var(---accent-color);
}

.form-input:focus + .form-icon-name,
.form-input:hover + .form-icon-name {
  fill: var(---accent-color);
}

.form-comment {
  display: block;
  font-size: 12px;
  color: rgba(117, 117, 117, 0.5);
  font-weight: 400;
  letter-spacing: 0.01em;
  line-height: 1.16;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  padding: 12px 16px;
  width: 100%;
  height: 120px;
  resize: none;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-comment:focus,
.form-comment:hover {
  border-color: var(---accent-color);
}

.form-comment::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form-check-box {
  display: block;
  margin-top: 20px;
  margin-bottom: 30px;
  text-align: center;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
}

.form-label {
  color: #757575;
  margin-bottom: 4px;
  display: block;

  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.03em;
  line-height: 1.16;
}
.input-wrap {
  position: relative;
}

.form-icon-name {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.check-text a {
  color: var(---accent-color);
}

.form-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.check-text {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.03em;
  line-height: 1.71;
  color: #757575;
  display: flex;
  justify-content: center;
  align-items: center;
}

.check-text::before {
  content: '';
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  margin-right: 8.38px;
}

.input-check-form:checked + .check-text::before {
  border: none;
  background-image: url(../img/icons/check.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.submit-button {
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.06em;
  line-height: 1.87;
  background-color: var(---accent-color);
  color: #ffffff;
  border: none;
  width: 200px;
  height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  outline: none;
}

.main-features {
  padding-bottom: 0;
}
.features {
  display: flex;
}

.around_icon {
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.features li {
  width: 270px;
}

.features li:not(:last-child) {
  margin-right: 30px;
}

.features-title {
  margin-bottom: 10px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  color: var(--primary-text-color);
  line-height: 1.17;
  letter-spacing: 0.03em;
}
.features-text {
  color: #757575;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-size: 14px;
}

.work .container {
  flex-direction: column;
}

.work-list {
  display: flex;
}

.image-discription {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
}

.work-text {
  display: block;
}

.work-img {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;
}

.work-text {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: #ffffff;
  letter-spacing: 0.03em;
}

.work-list li:not(:last-child) {
  margin-right: 30px;
}

.title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  color: var(--primary-text-color);
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
}
.team {
  background-color: #f5f4fa;
}

.team .container {
  flex-direction: column;
}
.team-list {
  display: flex;
}

.card:not(:last-child) {
  margin-right: 30px;
}

.team-title {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  color: var(--primary-text-color);
  line-height: 1.17;
  letter-spacing: 0.03em;
}
.title-name {
  text-align: center;

  color: var(--primary-text-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
.team-text {
  text-align: center;
  padding-top: 10px;
  font-size: 16px;
  line-height: 1.17;
  color: #757575;
  letter-spacing: 0.03em;
}

.team-content {
  padding-top: 30px;
}

.footer {
  display: flex;
  flex-direction: column;
  background-color: #2f303a;
  padding-bottom: 60px;
  padding-top: 60px;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 26px;
  text-decoration: none;
  color: #ffffff;
  line-height: 1.17;
  letter-spacing: 0.03em;
  font-family: Raleway;
}
.footer-adress {
  font-size: 14px;
  margin-bottom: 9px;
  text-decoration: none;
  line-height: 1.71;
  color: #ffffff;
  letter-spacing: 0.03em;
}
.footer-info {
  font-size: 14px;
  line-height: 1.71;
  color: #ffffff;
  text-decoration: none;
  opacity: 0.7;
  letter-spacing: 0.03em;
}
.footer-info:not(:last-child) {
  margin-bottom: 9px;
}

.footer-links {
  flex-direction: column;
}

.footer-links a {
  display: block;
  flex-direction: column;
}

.add {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.03em;
  line-height: 1.14;
  color: #ffffff;
  text-transform: uppercase;
}

.footer-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #ffffff;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-links {
  display: flex;
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(---accent-color);
  border-color: var(---accent-color);
  outline: none;
}

.footer-social-items:not(:last-child) {
  margin-right: 10px;
}

.footer-wrap {
  display: flex;
}

.right {
  display: flex;
  flex-direction: column;
  margin-top: 12px;
}

.subscribe {
  margin-left: 93px;
  display: flex;
  margin-top: 12px;
  flex-direction: column;
}

.text-subscribe {
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  margin-bottom: 20px;
}

.email-subscribe {
  margin-right: 12px;
  padding-left: 16px;
  width: 358px;
  height: 50px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: #2f303a;
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.email-subscribe::placeholder {
  padding: 15px 295px 15px 0;
}

.submit-subscribe {
  width: 200px;
  height: 50px;
  padding-left: 29px;
  padding-right: 62px;
  align-items: center;
  background-color: var(---accent-color);
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
}

.email-subscribe:hover,
.email-subscribe:focus {
  outline: none;
  border-color: var(---accent-color);
}

.button-subscribe {
  position: relative;
}

.icon-subscribe {
  position: absolute;
  top: 12px;
  right: 28px;
}

.label-submit {
  color: #ffffff;
}

.footer-links {
  margin-right: 70px;
}

span {
  color: var(---accent-color);
}

.sites a {
  text-decoration: none;
}
.sites-title {
  font-weight: 700;
  line-height: 2;
  color: var(--primary-text-color);
  font-size: 18px;
  letter-spacing: 0.06em;
}
.sites-text {
  font-size: 16px;
  color: #757575;
  line-height: 1.87;
  letter-spacing: 0.03em;
}
.buttons {
  padding: 6px 22px;
  font-weight: 500;
  letter-spacing: 0.03em;
  font-size: 16px;
  line-height: 1.62;
  background-color: #f5f4fa;
  font-family: Roboto;
  border-radius: 4px;
  border: none;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.buttons:hover,
.buttons:focus {
  background-color: var(---accent-color);
  color: #ffffff;
  outline: none;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.buttons-list {
  display: flex;

  justify-content: center;
  margin-bottom: 50px;
}

.buttons-container {
  justify-content: center;
}

.buttons-list li:not(:last-child) {
  margin-right: 8px;
}
.card {
  padding-bottom: 30px;
  background: #ffffff;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.border {
  border-bottom: 1px solid #ececec;
}

.sites {
  display: flex;
  flex-wrap: wrap;
}
.site-link {
  margin-right: 30px;
  margin-bottom: 30px;
  background: #ffffff;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-link:nth-child(3n) {
  margin-right: 0;
}

.site-link:focus,
.site-link:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  outline: none;
}

.site-link:nth-child(n + 6) {
  margin-bottom: 0;
}
.info-app {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
}
img {
  display: block;
}

.clients {
  display: flex;
  justify-content: center;
}

.clients-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.clients-link {
  border: 1px solid #afb1b8;
  width: 170px;
  height: 92px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-item:not(:last-child) {
  margin-right: 30px;
}

.card-social-icon {
  display: block;
}
.card-social-links {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}
.card-social-items:not(:last-child) {
  padding-right: 10px;
}

.card-social-link {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon {
  fill: #afb1b8;
}

.card-social-link:hover,
.card-social-link:focus {
  background-color: var(---accent-color);
  outline: none;
}

.card-social-link:hover .social-icon,
.card-social-link:focus .social-icon {
  fill: #ffffff;
}

.clients-icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover,
.clients-link:focus {
  border-color: var(---accent-color);
  outline: none;
}

.clients-link:hover .clients-icon,
.clients-link:focus .clients-icon {
  fill: var(---accent-color);
}

.overlay {
  position: relative;
  overflow: hidden;
}
.overlay-text {
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.03em;
  line-height: 1.55;
  color: #ffffff;
  padding: 63px 24px;
}
.overlay-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-link:hover .overlay-content {
  opacity: 1;
  transform: translateY(0);
}
