.title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  color: var(--primary-text-color);
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
}
.team {
  background-color: #f5f4fa;
}

.team .container {
  flex-direction: column;
}
.team-list {
  display: flex;
}

.team-list__card:not(:last-child) {
  margin-right: 30px;
}

.team__title {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  color: var(--primary-text-color);
  line-height: 1.17;
  letter-spacing: 0.03em;
}
.team-list__name {
  text-align: center;

  color: var(--primary-text-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
.team-list__text {
  margin-bottom: 16px;
  text-align: center;
  padding-top: 10px;
  font-size: 16px;
  line-height: 1.17;
  color: #757575;
  letter-spacing: 0.03em;
}

.team-list__content {
  padding-top: 30px;
}

.team-list__card {
  padding-bottom: 30px;
  background: #ffffff;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.social-links__icon {
  display: block;
}
.social-links {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}
.social-links__items:not(:last-child) {
  padding-right: 10px;
}

.social-links__link {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: var(---accent-color);
    outline: none;
  }
}

.social-links__icon {
  fill: #afb1b8;
}

.social-links__link:hover .social-links__icon,
.social-links__link:focus .social-links__icon {
  fill: #ffffff;
}
